@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 255, 255, 255;
}

body {
  background: rgb(var(--background-rgb));
}

a {
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
